body{
    margin: auto;
    padding: auto;
    width: 100%;
}

/*FONTS*/
@font-face {
    font-family: 'plantinlight', 'plantinsemibold';
    src: url('plantin_light-webfont.woff2') format('woff2'),
         url('plantin_light-webfont.woff') format('woff');
         src: url('plantin_semibold-webfont.woff2') format('woff2'),
         url('plantin_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}